.jumbotron{
	background-color: #ddd;
}
.w30{
	width: 30%;
}
.table-bordered > thead > tr > th, 
.table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, 
.table-bordered > tbody > tr > td, 
.table-bordered > tfoot > tr > td {
	border: 1px solid #000;
}

.table-bordered thead tr{
	text-transform: uppercase;
}
.table{
	background-color: #888;
	margin-bottom: 0;
}
.table-hover > tbody > tr:hover{
	background-color: darkgrey;
	border: 1px solid #000;
}

.table-bordered{
	overflow: hidden;
	border-radius: 10px;
}
.border{
	border-radius: 10px;
}
.border:hover{
	border: 1px solid #000;
	box-shadow: 2px 3px 3px #000;
}
.mgt40{
	margin-top: 40px;
}